Django
django-extensions
django-admin-rangefilter
django-import-export
django-storages
django-crispy-forms
django-debug-toolbar
django-filter
rest_framework
djangorestframework-simplejwt
drf-yasg

requests
ipython
flake8
flake8-builtins
flake8-print
Jinja2
boto3
crispy-bootstrap4
Celery
pytest
pytest-django
pytest-cov
pytest-mock
pymemcache
gunicorn
psycopg2-binary
