{% extends 'base.html' %}

{% block title %}
    ContactUs
{% endblock title %}

{% block content %}
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>EmailFrom</th>
            <th>Subject</th>
            <th>Message</th>
        </tr>
        {% for contact in page_obj %}
        <tr>
             <td>{{ contact.id }}</td>
             <td>{{ contact.email_from }}</td>
             <td>{{ contact.subject }}</td>
             <td>{{ contact.message }}</td>
             <td><a href="{% url 'currency:contact_us-update' contact.id %}">Update</a><br></td>
             <td><a href="{% url 'currency:contact_us-delete' contact.id %}">Delete</a><br></td>
             <td><a href="{% url 'currency:contact_us-details' contact.id %}">Details</a><br></td>
         </tr>
        {% endfor %}
    </table>

{% include 'includes/pagination.html' %}

{% endblock content %}
